opener {
     content: oxy_label(text, "Opener: ", width, 10em, text-align, left, styles, "font-size: x-small; color: #5C5C8E") ;
}

opener:after {
    content: "| opener";
    font-size: x-small;
    color: #5C5C8E;
}

closer {
     content: oxy_label(text, "Closer: ", width, 10em, text-align, left, styles, "font-size: x-small; color: #5C5C8E") ;
}

closer:after {
    content: "| closer";
    font-size: x-small;
    color: #5C5C8E;
}

dateline {
     content: oxy_label(text, "Dateline: ", width, 10em, text-align, left, styles, "font-size: x-small; color: #EE82EE") ;
}

dateline:after {
    content: "| dateline";
    font-size: x-small;
    color: #EE82EE;
}

p {
     content: oxy_label(text, "Paragraph: ", width, 10em, text-align, left, styles, "font-size: small; color: #458B74") ;
}

p:after {
     content: "| P";
    font-size: x-small;
    color: #458B74;
}

postscript {
     content: oxy_label(text, "Postscript: ", width, 10em, text-align, left, styles, "font-size: x-small; color: #6E7416") ;
}

postscript:after {
    content: "| postscript";
    font-size: x-small;
    color: #6E7416;
}

milestone {
     content: oxy_label(text, "Milestone: ", width, 10em, text-align, left, styles, "font-size: x-small; color: #632808") ;
}

milestone:after {
    content: "| milestone";
    font-size: x-small;
    color: #632808;
}